In [1]:
import pandas as pd

In [2]:
df_view = pd.read_excel('../data_template/data_template.xlsx', header=1)
df_view

Empty DataFrame
Columns: [Entry_ID, Extractants_count, SMILES, Extractant_conc_M, Solvent_A, Solvent_B, Volume_fraction_A, Volume_fraction_B, Metal, Metal_conc_mM, Acid_type, Acid_conc_M, Temperature_K, Distribution_ratio, Log_D, DOI, Comments]
Index: []

In [3]:
df_cleanData = pd.read_excel('output_cleaned_data.xlsx')
print(df_cleanData.shape)
df_cleanData.columns

(3113, 33)

Index(['Title', 'Authors', 'Year', 'DOI', 'No. of Extractants', 'SMILES_orig',
       'Name', 'Extractant Concentration (M)', 'Solvent', '# of Metals',
       'Metal Identity', 'Aqueous Phase Metals', 'Metal Concentration (mM)',
       'Acid Type', 'Acid Concentration (M)', 'Complexant',
       'Complexant SMILES', 'Complexant Concentration (M)', 'Temperature (C)',
       'Contact Time (min)', 'Vaq/Vorg', 'Distribution Coefficient',
       'Third Phase', 'Data Origin', 'Comments',
       'Metal Concentration (mM)_cleaned', 'SMILES', 'Temperature_K', 'log_D',
       'Solvent A', 'Solvent B', 'volume ratio', 'volume_fraction_B'],
      dtype='object')

In [4]:
df_cleanData.head(3)

,Title,Authors,Year,DOI,No. of Extractants,SMILES_orig,Name,Extractant Concentration (M),Solvent,# of Metals,...,Data Origin,Comments,Metal Concentration (mM)_cleaned,SMILES,Temperature_K,log_D,Solvent A,Solvent B,volume ratio,volume_fraction_B
0,Unprecedented Inversion of Selectivity and Ext...,"Dr. Andreas Wilden, Dr. Piotr M. Kowalski, Lar...",2019,https://doi.org/10.1002/chem.201806161,1,CCCCCCCCN(CCCCCCCC)C(=O)[C@@H](C)O[C@@H](C)C(=...,tMe2-TODGA,0.1,hydrogenated tetrapropene,1,...,Figure 2,NaN,0.01,CCCCCCCCN(CCCCCCCC)C(=O)[C@H](C)O[C@H](C)C(=O)...,295.15,-0.492462,hydrogenated tetrapropene,NaN,0,0.0
1,Unprecedented Inversion of Selectivity and Ext...,"Dr. Andreas Wilden, Dr. Piotr M. Kowalski, Lar...",2019,https://doi.org/10.1002/chem.201806161,1,CCCCCCCCN(CCCCCCCC)C(=O)[C@@H](C)O[C@@H](C)C(=...,tMe2-TODGA,0.1,hydrogenated tetrapropene,1,...,Figure 2,NaN,0.01,CCCCCCCCN(CCCCCCCC)C(=O)[C@H](C)O[C@H](C)C(=O)...,295.15,-0.206030,hydrogenated tetrapropene,NaN,0,0.0
2,Unprecedented Inversion of Selectivity and Ext...,"Dr. Andreas Wilden, Dr. Piotr M. Kowalski, Lar...",2019,https://doi.org/10.1002/chem.201806161,1,CCCCCCCCN(CCCCCCCC)C(=O)[C@@H](C)O[C@@H](C)C(=...,tMe2-TODGA,0.1,hydrogenated tetrapropene,1,...,Figure 2,NaN,0.01,CCCCCCCCN(CCCCCCCC)C(=O)[C@H](C)O[C@H](C)C(=O)...,295.15,-0.120603,hydrogenated tetrapropene,NaN,0,0.0

In [5]:
df_final = df_view.copy()
df_final['Entry_ID'] = [i for i in range(df_cleanData.shape[0])]
df_final['Extractants_count'] = [1] * df_cleanData.shape[0]
df_final['Comments'] = ['DGA LANL'] * df_cleanData.shape[0]
df_final.head(3)

,Entry_ID,Extractants_count,SMILES,Extractant_conc_M,Solvent_A,Solvent_B,Volume_fraction_A,Volume_fraction_B,Metal,Metal_conc_mM,Acid_type,Acid_conc_M,Temperature_K,Distribution_ratio,Log_D,DOI,Comments
0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DGA LANL
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DGA LANL
2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DGA LANL

In [6]:
df_final['SMILES'] = df_cleanData['SMILES']
df_final['Extractant_conc_M'] = df_cleanData['Extractant Concentration (M)']
df_final['Solvent_A'] = df_cleanData['Solvent A']
df_final['Solvent_B'] = df_cleanData['Solvent B']
df_final['Metal'] = df_cleanData['Metal Identity']

df_final['Metal_conc_mM'] = df_cleanData['Metal Concentration (mM)_cleaned']

df_final['Acid_type'] = df_cleanData['Acid Type']
df_final['Acid_conc_M'] = df_cleanData['Acid Concentration (M)']
df_final['Temperature_K'] = df_cleanData['Temperature_K']
df_final['Distribution_ratio'] = df_cleanData['Distribution Coefficient']
df_final['Log_D'] = df_cleanData['log_D']
df_final['DOI'] = df_cleanData['DOI']

df_final['Volume_fraction_B'] = df_cleanData['volume_fraction_B']
df_final['Volume_fraction_A'] = 1- df_cleanData['volume_fraction_B']

df_final.head(3)

,Entry_ID,Extractants_count,SMILES,Extractant_conc_M,Solvent_A,Solvent_B,Volume_fraction_A,Volume_fraction_B,Metal,Metal_conc_mM,Acid_type,Acid_conc_M,Temperature_K,Distribution_ratio,Log_D,DOI,Comments
0,0,1,CCCCCCCCN(CCCCCCCC)C(=O)[C@H](C)O[C@H](C)C(=O)...,0.1,hydrogenated tetrapropene,NaN,1.0,0.0,La(III),0.01,HNO3,4.3,295.15,0.321764,-0.492462,https://doi.org/10.1002/chem.201806161,DGA LANL
1,1,1,CCCCCCCCN(CCCCCCCC)C(=O)[C@H](C)O[C@H](C)C(=O)...,0.1,hydrogenated tetrapropene,NaN,1.0,0.0,Ce(III),0.01,HNO3,4.3,295.15,0.622257,-0.206030,https://doi.org/10.1002/chem.201806161,DGA LANL
2,2,1,CCCCCCCCN(CCCCCCCC)C(=O)[C@H](C)O[C@H](C)C(=O)...,0.1,hydrogenated tetrapropene,NaN,1.0,0.0,Pr(III),0.01,HNO3,4.3,295.15,0.757525,-0.120603,https://doi.org/10.1002/chem.201806161,DGA LANL

In [7]:
output_file = "output_db_Ln_DGA.xlsx"
df_final.to_excel(output_file, index=False)

### Check Nan

In [8]:
# Check for NaN values
has_nan = df_final[df_final.columns].isnull().any()

print("Does the column contain Nan values?")
print(has_nan)

Does the column contain Nan values?
Entry_ID              False
Extractants_count     False
SMILES                False
Extractant_conc_M     False
Solvent_A             False
Solvent_B              True
Volume_fraction_A     False
Volume_fraction_B     False
Metal                 False
Metal_conc_mM         False
Acid_type             False
Acid_conc_M           False
Temperature_K         False
Distribution_ratio    False
Log_D                 False
DOI                   False
Comments              False
dtype: bool

In [9]:
# Check for empty strings
has_empty_strings = (df_final[df_final.columns] == '').any()

print("Does the column contain empty strings?")
print(has_nan)

Does the column contain empty strings?
Entry_ID              False
Extractants_count     False
SMILES                False
Extractant_conc_M     False
Solvent_A             False
Solvent_B              True
Volume_fraction_A     False
Volume_fraction_B     False
Metal                 False
Metal_conc_mM         False
Acid_type             False
Acid_conc_M           False
Temperature_K         False
Distribution_ratio    False
Log_D                 False
DOI                   False
Comments              False
dtype: bool

Note that if the boolean is not False (except Solvent_B), we need to go back to clean

### Check datatype

In [10]:
from pandas.api.types import is_numeric_dtype

print(is_numeric_dtype(df_final['Extractant_conc_M']))
print(is_numeric_dtype(df_final['Metal_conc_mM']))
print(is_numeric_dtype(df_final['Acid_conc_M']))
print(is_numeric_dtype(df_final['Temperature_K']))
print(is_numeric_dtype(df_final['Distribution_ratio']))
print(is_numeric_dtype(df_final['Log_D']))
print(is_numeric_dtype(df_final['Volume_fraction_B']))
print(is_numeric_dtype(df_final['Volume_fraction_A']))

True
True
True
True
True
True
True
True