In [1]:
import pandas as pd

In [2]:
df_template = pd.read_excel('../data_template/data_template.xlsx', header=1)
df_template

Empty DataFrame
Columns: [Entry_ID, Extractants_count, SMILES, Extractant_conc_M, Solvent_A, Solvent_B, Volume_fraction_A, Volume_fraction_B, Metal, Metal_conc_mM, Acid_type, Acid_conc_M, Temperature_K, Distribution_ratio, Log_D, DOI, Comments]
Index: []

In [3]:
df_cleanData = pd.read_excel('output_cleaned_data.xlsx')
print(df_cleanData.shape)
df_cleanData.columns

(313, 27)

Index(['No. of Extractants', 'SMILES_orig', 'Branched', 'Name',
       'Extractant Concentration (M)', 'Radiolytic Dosage (kGy)', 'Solvent',
       '# of Metals', 'Metal Identity', 'Metal Concentration (mM)',
       'Acid Type', 'Acid Concentration (M)', 'Temperature (C)',
       'Contact Time (min)', 'Vaq/Vorg', 'Distribution Coefficient',
       'Third Phase', 'Comments', 'Title', 'Authors', 'Year', 'DOI',
       'Unnamed: 22', 'Unnamed: 23', 'SMILES', 'Temperature_K', 'log_D'],
      dtype='object')

In [4]:
df_final = df_template.copy()
df_final['Entry_ID'] = [i for i in range(df_cleanData.shape[0])]
df_final['Extractants_count'] = [1] * df_cleanData.shape[0]
df_final['Comments'] = ['LANL'] * df_cleanData.shape[0]
df_final.head(3)

,Entry_ID,Extractants_count,SMILES,Extractant_conc_M,Solvent_A,Solvent_B,Volume_fraction_A,Volume_fraction_B,Metal,Metal_conc_mM,Acid_type,Acid_conc_M,Temperature_K,Distribution_ratio,Log_D,DOI,Comments
0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LANL
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LANL
2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LANL

In [5]:
df_final['SMILES'] = df_cleanData['SMILES']
df_final['Extractant_conc_M'] = df_cleanData['Extractant Concentration (M)']
df_final['Solvent_A'] = df_cleanData['Solvent']
# df_final['Solvent_B'] = df_cleanData['Solvent B']
df_final['Metal'] = df_cleanData['Metal Identity']

df_final['Metal_conc_mM'] = df_cleanData['Metal Concentration (mM)']

df_final['Acid_type'] = df_cleanData['Acid Type']
df_final['Acid_conc_M'] = df_cleanData['Acid Concentration (M)']
df_final['Temperature_K'] = df_cleanData['Temperature_K']
df_final['Distribution_ratio'] = df_cleanData['Distribution Coefficient']
df_final['Log_D'] = df_cleanData['log_D']
df_final['DOI'] = df_cleanData['DOI']

df_final['Volume_fraction_B'] = [0] * df_cleanData.shape[0]
df_final['Volume_fraction_A'] = [1] * df_cleanData.shape[0]

df_final.head(3)

,Entry_ID,Extractants_count,SMILES,Extractant_conc_M,Solvent_A,Solvent_B,Volume_fraction_A,Volume_fraction_B,Metal,Metal_conc_mM,Acid_type,Acid_conc_M,Temperature_K,Distribution_ratio,Log_D,DOI,Comments
0,0,1,CCCCC(CC)CN(CC(CC)CCCC)C(=O)C(C)C,1.0,n-dodecane,NaN,1,0,U(VI),200.0,HNO3,3.0,288.15,7.88,0.896526,https://doi.org/10.1080/00268976.2014.902139,LANL
1,1,1,CCCCC(CC)CN(CC(CC)CCCC)C(=O)C(C)C,1.0,n-dodecane,NaN,1,0,U(VI),200.0,HNO3,3.0,293.15,6.49,0.812245,https://doi.org/10.1080/00268976.2014.902139,LANL
2,2,1,CCCCC(CC)CN(CC(CC)CCCC)C(=O)C(C)C,1.0,n-dodecane,NaN,1,0,U(VI),200.0,HNO3,3.0,298.15,5.63,0.750508,https://doi.org/10.1080/00268976.2014.902139,LANL

In [6]:
output_file = "output_db_An_Logan.xlsx"
df_final.to_excel(output_file, index=False)

### Check Nan

In [7]:
# Check for NaN values
has_nan = df_final[df_final.columns].isnull().any()

print("Does the column contain Nan values?")
print(has_nan)

Does the column contain Nan values?
Entry_ID              False
Extractants_count     False
SMILES                False
Extractant_conc_M     False
Solvent_A             False
Solvent_B              True
Volume_fraction_A     False
Volume_fraction_B     False
Metal                 False
Metal_conc_mM         False
Acid_type             False
Acid_conc_M           False
Temperature_K         False
Distribution_ratio    False
Log_D                 False
DOI                   False
Comments              False
dtype: bool

In [8]:
# Check for empty strings
has_empty_strings = (df_final[df_final.columns] == '').any()

print("Does the column contain empty strings?")
print(has_nan)

Does the column contain empty strings?
Entry_ID              False
Extractants_count     False
SMILES                False
Extractant_conc_M     False
Solvent_A             False
Solvent_B              True
Volume_fraction_A     False
Volume_fraction_B     False
Metal                 False
Metal_conc_mM         False
Acid_type             False
Acid_conc_M           False
Temperature_K         False
Distribution_ratio    False
Log_D                 False
DOI                   False
Comments              False
dtype: bool

Note that if the boolean is not False (except Solvent_B), we need to go back to clean

### Check data type

In [9]:
from pandas.api.types import is_numeric_dtype

print(is_numeric_dtype(df_final['Extractant_conc_M']))
print(is_numeric_dtype(df_final['Metal_conc_mM']))
print(is_numeric_dtype(df_final['Acid_conc_M']))
print(is_numeric_dtype(df_final['Temperature_K']))
print(is_numeric_dtype(df_final['Distribution_ratio']))
print(is_numeric_dtype(df_final['Log_D']))
print(is_numeric_dtype(df_final['Volume_fraction_B']))
print(is_numeric_dtype(df_final['Volume_fraction_A']))

True
True
True
True
True
True
True
True