In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('original/tabularized_results.xlsx')
print(df.shape)
df.head(3)

(1104, 17)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD
0,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.097724,0.597724,tph,0.95,1-octanol,0.05,22.0,60.0,Am,1.033585
1,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.097724,0.597724,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,2.058418
2,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.009772,0.509772,tph,0.95,1-octanol,0.05,22.0,60.0,Am,-0.201349

## Filter metals

In [3]:
Ln_list = ['La', 'Ce', 'Pr', 'Nd', 'Pm', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 'Tm', 'Yb', 'Lu']
metal_pattern = '|'.join(Ln_list)

metal_pattern

'La|Ce|Pr|Nd|Pm|Sm|Eu|Gd|Tb|Dy|Ho|Er|Tm|Yb|Lu'

In [4]:
df_filtered = df[df['metal'].str.contains(metal_pattern, na=False, regex=True)]

print(df_filtered.shape)
df_filtered.head(3)

(512, 17)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD
1,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.097724,0.597724,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,2.058418
3,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.009772,0.509772,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,0.938019
5,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.000977,0.500977,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,0.265996

## Remove Nan or empty

In [5]:
df_filtered.loc[:, 'temperature (C)'] = pd.to_numeric(df_filtered['temperature (C)'], errors='coerce')
df_filtered = df_filtered[df_filtered['temperature (C)'].notna()]

print(df_filtered.shape)
df_filtered.head(3)

(499, 17)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD
1,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.097724,0.597724,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,2.058418
3,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.009772,0.509772,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,0.938019
5,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.000977,0.500977,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,0.265996

In [6]:
# Collect rows where 'extractant2' is missing
df_filtered = df_filtered[df_filtered['extractant2'].isna()]

print(df_filtered.shape)
df_filtered.head(3)

(414, 17)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD
1,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.097724,0.597724,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,2.058418
3,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.009772,0.509772,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,0.938019
5,./ST100.json,CCCCCCCCN(CCCCCCCC)C(=O)COCC(=O)N(CCCCCCCC)CCC...,0.2,NaN,0.0,O=C(N1CCOCC1)c2nc(P(O)([O-])=O)cnc2.[Na+],0.1,0.000977,0.500977,tph,0.95,1-octanol,0.05,22.0,60.0,Eu,0.265996

In [7]:
# Collect rows where 'holdback' is missing
df_filtered = df_filtered[df_filtered['holdback'].isna()]

print(df_filtered.shape)
df_filtered.head(3)

(290, 17)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD
33,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.3,0.3,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.494850
35,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.5,0.5,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.180456
37,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.7,0.7,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-1.958607

## Calculation

In [8]:
from rdkit import Chem

In [9]:
def get_canonical_smiles(smiles):
    molecule = Chem.MolFromSmiles(smiles)
    return Chem.MolToSmiles(molecule, canonical=True)

df_filtered['SMILES'] = df_filtered['extractant1'].apply(get_canonical_smiles)

print(df_filtered.shape)
df_filtered.head(3)

(290, 18)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD,SMILES
33,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.3,0.3,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.494850,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...
35,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.5,0.5,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.180456,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...
37,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.7,0.7,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-1.958607,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...

In [10]:
df_filtered['Temperature_K'] = df_filtered['temperature (C)'] + 273.15

print(df_filtered.shape)
df_filtered.head(3)

(290, 19)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD,SMILES,Temperature_K
33,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.3,0.3,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.494850,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15
35,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.5,0.5,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.180456,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15
37,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.7,0.7,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-1.958607,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15

In [11]:
df_filtered['volume_fraction_B'] = df_filtered['solvent2 vol fraction']

print(df_filtered.shape)
df_filtered.head(3)

(290, 20)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD,SMILES,Temperature_K,volume_fraction_B
33,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.3,0.3,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.494850,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15,0.0
35,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.5,0.5,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-2.180456,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15,0.0
37,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0.0,NaN,0.0,0.7,0.7,1-octanol,1.0,NaN,0.0,20.0,20.0,Eu,-1.958607,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15,0.0

In [12]:
df_filtered.to_excel('output_cleaned_data.xlsx', index=False)