In [9]:
import pandas as pd

In [10]:
df_template = pd.read_excel('../data_template/data_template.xlsx', header=1)
df_template

Empty DataFrame
Columns: [Entry_ID, Extractants_count, SMILES, Extractant_conc_M, Solvent_A, Solvent_B, Volume_fraction_A, Volume_fraction_B, Metal, Metal_conc_mM, Acid_type, Acid_conc_M, Temperature_K, Distribution_ratio, Log_D, DOI, Comments]
Index: []

In [11]:
df_cleanData = pd.read_excel('output_cleaned_data.xlsx')
print(df_cleanData.shape)
df_cleanData.columns

(290, 20)

Index(['file', 'extractant1', 'extractant1 conc. (M)', 'extractant2',
       'extractant2 conc. (M)', 'holdback', 'holdback conc. (M)',
       'acid conc. (M)', 'nitrate conc. (M)', 'solvent1',
       'solvent1 vol fraction', 'solvent2', 'solvent2 vol fraction',
       'temperature (C)', 'time (min)', 'metal', 'logD', 'SMILES',
       'Temperature_K', 'volume_fraction_B'],
      dtype='object')

In [12]:
df_cleanData.head(3)

,file,extractant1,extractant1 conc. (M),extractant2,extractant2 conc. (M),holdback,holdback conc. (M),acid conc. (M),nitrate conc. (M),solvent1,solvent1 vol fraction,solvent2,solvent2 vol fraction,temperature (C),time (min),metal,logD,SMILES,Temperature_K,volume_fraction_B
0,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0,NaN,0,0.3,0.3,1-octanol,1.0,NaN,0.0,20,20,Eu,-2.494850,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15,0.0
1,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0,NaN,0,0.5,0.5,1-octanol,1.0,NaN,0.0,20,20,Eu,-2.180456,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15,0.0
2,./ST102.json,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,NaN,0,NaN,0,0.7,0.7,1-octanol,1.0,NaN,0.0,20,20,Eu,-1.958607,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,293.15,0.0

In [13]:
df_final = df_template.copy()
df_final['Entry_ID'] = [i for i in range(df_cleanData.shape[0])]
df_final['Extractants_count'] = [1] * df_cleanData.shape[0]
df_final['Comments'] = ['ACSEPT'] * df_cleanData.shape[0]
df_final.head(3)

,Entry_ID,Extractants_count,SMILES,Extractant_conc_M,Solvent_A,Solvent_B,Volume_fraction_A,Volume_fraction_B,Metal,Metal_conc_mM,Acid_type,Acid_conc_M,Temperature_K,Distribution_ratio,Log_D,DOI,Comments
0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACSEPT
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACSEPT
2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACSEPT

In [14]:
df_final['SMILES'] = df_cleanData['SMILES']
df_final['Extractant_conc_M'] = df_cleanData['extractant1 conc. (M)']
df_final['Solvent_A'] = df_cleanData['solvent1']
df_final['Solvent_B'] = df_cleanData['solvent2']

# By looking at the PDF report, all metals are III oxidation state
df_final['Metal'] = df_cleanData['metal'] + '(III)'

# The metal concentration is approximated as zero
df_final['Metal_conc_mM'] = [0] * df_cleanData.shape[0]

# By looking at the PDF report, all acids are HNO3
df_final['Acid_type'] = ['HNO3'] * df_cleanData.shape[0]

df_final['Acid_conc_M'] = df_cleanData['acid conc. (M)']
df_final['Temperature_K'] = df_cleanData['Temperature_K']
df_final['Distribution_ratio'] = 10**df_cleanData['logD']
df_final['Log_D'] = df_cleanData['logD']

df_final['DOI'] = ['https://cordis.europa.eu/project/id/211267'] * df_cleanData.shape[0]

df_final['Volume_fraction_B'] = df_cleanData['volume_fraction_B']
df_final['Volume_fraction_A'] = 1- df_cleanData['volume_fraction_B']

print(df_final.shape)
df_final.head(3)

(290, 17)

,Entry_ID,Extractants_count,SMILES,Extractant_conc_M,Solvent_A,Solvent_B,Volume_fraction_A,Volume_fraction_B,Metal,Metal_conc_mM,Acid_type,Acid_conc_M,Temperature_K,Distribution_ratio,Log_D,DOI,Comments
0,0,1,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,1-octanol,NaN,1.0,0.0,Eu(III),0,HNO3,0.3,293.15,0.0032,-2.494850,https://cordis.europa.eu/project/id/211267,ACSEPT
1,1,1,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,1-octanol,NaN,1.0,0.0,Eu(III),0,HNO3,0.5,293.15,0.0066,-2.180456,https://cordis.europa.eu/project/id/211267,ACSEPT
2,2,1,CC12CCC(c3nnc(-c4cccc(-c5cccc(-c6nnc7c(n6)C6(C...,0.01,1-octanol,NaN,1.0,0.0,Eu(III),0,HNO3,0.7,293.15,0.0110,-1.958607,https://cordis.europa.eu/project/id/211267,ACSEPT

### Output file

In [15]:
output_file = "output_db_Ln_ACSEPT.xlsx"
df_final.to_excel(output_file, index=False)

### Check Nan

In [16]:
# Check for NaN values
has_nan = df_final[df_final.columns].isnull().any()

print("Does the column contain Nan values?")
print(has_nan)

Does the column contain Nan values?
Entry_ID              False
Extractants_count     False
SMILES                False
Extractant_conc_M     False
Solvent_A             False
Solvent_B              True
Volume_fraction_A     False
Volume_fraction_B     False
Metal                 False
Metal_conc_mM         False
Acid_type             False
Acid_conc_M           False
Temperature_K         False
Distribution_ratio    False
Log_D                 False
DOI                   False
Comments              False
dtype: bool

In [17]:
# Check for empty strings
has_empty_strings = (df_final[df_final.columns] == '').any()

print("Does the column contain empty strings?")
print(has_nan)

Does the column contain empty strings?
Entry_ID              False
Extractants_count     False
SMILES                False
Extractant_conc_M     False
Solvent_A             False
Solvent_B              True
Volume_fraction_A     False
Volume_fraction_B     False
Metal                 False
Metal_conc_mM         False
Acid_type             False
Acid_conc_M           False
Temperature_K         False
Distribution_ratio    False
Log_D                 False
DOI                   False
Comments              False
dtype: bool

Note that if the boolean is not False (except Solvent_B), we need to go back to clean

### Check datatype

In [18]:
from pandas.api.types import is_numeric_dtype

print(is_numeric_dtype(df_final['Extractant_conc_M']))
print(is_numeric_dtype(df_final['Metal_conc_mM']))
print(is_numeric_dtype(df_final['Acid_conc_M']))
print(is_numeric_dtype(df_final['Temperature_K']))
print(is_numeric_dtype(df_final['Distribution_ratio']))
print(is_numeric_dtype(df_final['Log_D']))
print(is_numeric_dtype(df_final['Volume_fraction_B']))
print(is_numeric_dtype(df_final['Volume_fraction_A']))

True
True
True
True
True
True
True
True